/** forum **/

.fl_icn_g {
    width: 60px;
}

.fl_g dl {
    margin-left: 60px;
    padding-left: 10px;
}

.mn .bm_h {
    height: 46px;
    line-height: 46px;
    border: 0 none;
    border-image: none;
    font-weight: bold;
}

.fl .bm_h,
.bmw .bm_h {
    background: #434343;
    border-bottom: 1px solid #808080;
}

.fl {
    border: 0 none !important;
    background: none repeat scroll 0% 0% transparent;
}

.fl .bm {
    margin-bottom: 15px;
    border: 1px solid #333;
    background: #333;
}

.fl .bm_h {
    padding-left: 0;
}

.bmw .bm_h h2 {
    float: left;
    background:url({STYLEIMGDIR}/bm_ha.png) no-repeat scroll right top;
    padding-left: 15px;
    padding-right: 32px;
    color: #FFF;
    font-size: 16px;
    font-weight: normal;
}

.bmw .bm_h h2 a {
    color: #FFF;
    font-size: 17px;
    font-weight: normal;
}

.bmw .bm_h a:hover {
    color: {
        MENUBGCOLOR
    }
    !important;
}

span.y {
    color: #999;
    font-weight: normal;
}

.bm_h h2 a {
    float: none;
    margin: 0px;
}

.fl_g dt a,
.fl_tb h2 a {
    font-size: 16px;
    color: #fff;
}

.fl_g dt a:hover,
.fl_tb h2 a:hover {
    color: #2da4ff;
}

.xw0.xi1 {
    font-size: 16px;
}

.bm_h .o img {
    margin-top: 15px;
}

.fl_tb td {
    padding-top: 15px;
    padding-bottom: 15px;
}

.fl_row td {
    border: medium none;
}

.bm {
    border: 1px solid #808080;
    border-radius: 0px 0px 0px 0px;
}

.lk {
    background: #FFF;
    padding-bottom: 10px;
    margin-bottom: 15px;
    background: #FFF;
}

#online {
    background: #FFF;
    margin-bottom: 15px;
    background: #FFF;
}

#online .bm_h {
    background: #FFF;
}

.h_bm_c tr {
    height: 46px;
}

.tl .th {
    padding-top: 10px;
    padding-bottom: 10px;
    background: none repeat scroll 0% 0% #FFF;
    border-bottom: 1px solid #EDEDED;
}

.tl .h_ts th,
.tl .h_ts td {
    padding: 0px;
    border: 0 none;
    background: none repeat scroll 0% 0% #FFF;
    border-bottom: 1px solid #EDEDED;
}

.tl .ts th,
.tl .ts td {
    border-bottom-color: #EDEDED;
    background: #F6F6F6;
}

.bbs {
    border-bottom: 0 none !important;
}


/*zhuti fenlei*/

#thread_types {
    background: #434343;
}

.cttp {
    height: 44px;
    padding-right: 40px;
}

#thread_types .fold,
#thread_types .unfold {
    background-position: 0 30%;
}

.cttp .unfold,
.cttp .fold {
    height: 24px;
    color: {
        MENUHOVERBGCOLOR
    }
    ;
    margin-top:15px;
    margin-bottom:5px;
}

.ttp {
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 0;
    border-bottom: 0 none;
}

.ttp li {
    padding: 0;
    margin: 10px 0 0 0;
}

.ttp a:hover {
    border-color: {
        MENUBGCOLOR
    }
    ;
    background:#2d9eff;
    color: #FFF;
    text-decoration: none;
    font-weight:normal;
}

.ttp a:hover .num {
    background: #989898;
    color: {
        MENUBGCOLOR
    }
    !important;
}

.ttp .a a {
    border-color: {
        MENUBGCOLOR
    }
    ;
    background:#0080cd;
    color: #FFF;
    font-weight:normal;
}

.ttp .a:hover a {
    border-color: {
        MENUBGCOLOR
    }
    ;
    background:#2d9eff;
    color: #FFF;
}

.ttp .pipe {
    display: none;
}

.ttp .num {
    background: #999;
    padding: 0 5px;
    margin-left: 5px;
    color: #FFF !important;
    font-size: 11px;
}

.ttp .a .num {
    background: #999 !important;
    padding: 0 5px;
    margin-left: 5px;
    color: {
        MENUBGCOLOR
    }
    !important;
}

.ttp a {
    color: #333;
}

.ttp a,
.ttp strong {
    float: left;
    margin: 0 0 0 10px;
    padding: 8px 10px;
    height: 18px;
    background: #ccc;
    white-space: nowrap;
    font-size: 14px;
    border: 1px solid #EAEAEA;
}

#ttp_all a:hover {
    background: {
        MENUHOVERBGCOLOR
    }
    !important;
}


/*------------------------------------------------------------------*/

#autopbn {
    display: block;
    margin-bottom: 10px;
    border: 1px solid #EDEDED;
    border-radius: none;
    text-align: center;
    background: #FFF;
    font-weight: normal;
}

#autopbn a {
    color: #555;
    font-weight: normal;
}

#autopbn:hover {
    color: #2d9eff;
}

#autopbn.bm_h {
    height: 46px;
    line-height: 46px;
}


/** end **/


/** forum::index **/

#hd {
    margin-bottom: 15px;
}

.sxpct {
    margin-bottom: 15px;
}

.bmw .bm_h a {
    color: #999;
}

.sxp_mn .fl .bm_c {
    padding: 10px 25px;
}

.ct2_a {
    padding-left: 10px !important;
}

.sxpicon_g {
    height: 70px;
    width: 70px;
}

.sxpicon_g a {
    display: block;
    height: 70px;
    width: 70px;
}

.sxpicon_g img {
    height: 60px;
    width: 60px;
}

#chart {
    background: #434343;
    padding: 15px 19px;
    color: #ccc;
    font-size: 14px;
    margin-bottom: 0;
}

#chart li {
    padding-left: 50px;
    line-height: 40px;
    float: left;
    margin-right: 50px;
    background:url({STYLEIMGDIR}/base.png) no-repeat;
    color: #ccc;
}

#chart li em {
    color: #ccc;
    margin-left: 10px;
}

#chart li.t {
    background-position: 0 6px;
}

#chart li.ye {
    background-position: 0 -45px;
}

#chart li.p {
    background-position: 0 -94px;
}

#chart li.m {
    background-position: 0 -146px;
}

#chart .y em {
    margin-left: 15px;
}

#chart .y a {
    color: #888;
    line-height: 40px;
}

#chart .y a:hover {
    color: #F80;
}

.sxpuser {
    width: 1214px;
}

.sxpuser ul li {
    width: 563px;
    float: left;
    margin-bottom: 14px;
    margin-right: 14px;
    background: #434343;
    padding: 15px;
    overflow: hidden;
}

.sxpuser ul li:hover {
    background: url({STYLEIMGDIR}/libg.png) repeat;
}

.sxpuser ul li:hover a {
    color: #2da4ff;
}

.sxpuser_l {
    width: 150px;
    float: left;
}

.sxpuser_r {
    width: 400px;
    float: right;
}

.sxpuser_r h5 {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}

.sxpuser_r h5 a {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.sxpuser_r p {
    font-size: 13px;
    color: #919ca5;
    margin-top: 5px;
    line-height: 22px;
    margin-bottom: 10px;
}

.sxpuser_rarea {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}

.sxpuser_rarea span {
    display: inline-block;
    float: left;
    margin-right: 15px;
    color: #999;
}

.sxpuser_rarea em {
    display: inline-block;
    font-size: 14px;
    color: #999;
    height: 30px;
    float: left;
    margin-left: 10px;
}

.sxpuser_rarea a {
    display: inline-block;
}

.sxpuser_rarea img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    float: left;
}

.sxpuser_rarea2 {
    padding-left: 20px;
    background: transparent url("{STYLEIMGDIR}/view.png") no-repeat scroll left center;
}

.sxpuser_rarea3 {
    padding-left: 20px;
    background: transparent url("{STYLEIMGDIR}/reply.png") no-repeat scroll left center;
}

.sxpuser_rarea4 {
    padding-left: 20px;
    background: transparent url("{STYLEIMGDIR}/time.png") no-repeat scroll left center;
}

.sxp_lieb {
    width: 1214px;
}

.sxp_lieb dl {
    float: left;
    width: 259.5px;
    height: 170px;
    overflow: hidden;
    margin: 0 14px 14px 0;
    background: #434343;
    padding: 15px;
    padding-top: 55px;
    position: relative;
}

.sxp_lieb #bac1 {
    background-color: #fb9a01;
}

.sxp_lieb #bac2 {
    background-color: #00d88e;
}

.sxp_lieb #bac3 {
    background-color: #c94d91;
}

.sxp_lieb dl:hover {
    background: url({STYLEIMGDIR}/libg.png) repeat;
}

.sxp_lieb dl:hover dt a {
    color: #2da4ff;
}

.sxp_lieb dl h3 {
    line-height: 20px;
    height: 20px;
    padding: 2px 12px;
    overflow: hidden;
    border-radius: 4px;
    position: absolute;
    top: 15px;
    left: 15px;
    text-align: center;
    z-index: 4;
    background-color: #0090ff;
}

.sxp_lieb dl h3 a {
    color: #fff;
}

.sxp_lieb dl dt {
    margin-bottom: 15px;
}

.sxp_lieb dl dt a {
    line-height: 25px;
    font-size: 16px;
    font-weight: 400;
    word-break: break-all;
    color: #fff;
}

.sxp_lieb dl dd {
    color: #ccc;
    font-size: 14px;
    line-height: 22px;
}


/** end **/


/** forum::forumdisplay **/

.sxp_viewmain_l {
    width: 900px;
    margin: 0;
    padding: 0;
}

.sxp_viewmain_r {
    width: 284px;
    margin: 0;
    padding: 0;
}

.newad2 {
    padding: 6px;
    background: #FFF;
    border: 1px solid #ECECEC;
    width: 210px;
}

.newad3 {
    padding: 6px;
    background: #FFF;
    border: 1px solid #ECECEC;
    width: 270px;
}

.sxp_tiezi {
    padding: 11px;
    background: #FFF;
    border: 1px solid #ECECEC;
    width: 260px;
    height: 50px;
}

.sxp_tiezi a {
    display: block;
    width: 260px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    background:url({STYLEIMGDIR}/pn_post.png) no-repeat scroll center center #F90;
    color: #FFF;
    border-radius: 2px;
    text-align: center;
}

.sxp_hottj {
    background: #FFF;
    border: 1px solid #ECECEC;
    padding-bottom: 10px;
}

.sxp_hottj h3 {
    border-bottom: 1px solid #808080;
    padding: 0 16px;
    width: 192px;
    height: 46px;
    margin-bottom: 5px;
    background: #808080;
}

.sxp_hottj h3 span {
    line-height: 46px;
    font-size: 15px;
    color: #fff;
    font-weight: normal;
    display: inline-block;
}

.sxp_hottj dl {
    padding: 0 11px;
}

.sxp_hottj dt a {
    font-weight: normal;
    font-size: 14px;
    color: #333;
}

.sxp_hottj dl:hover dt a {
    color: #2da9ff;
}

.sxp_hottj dd {
    color: #999;
    font-size: 12px;
}

.sxp_hottj2 h3 {
    height: 50px;
    width: 252px;
}

.sxp_hottj2 h3 span {
    line-height: 50px;
}

.bm_h .o img {
    margin-top: 15px;
}

.flg,
.fl {
    border: 1px solid #EDEDED !important;
}

.sxp_mn .bm_h h2 {
    color: #FFF;
    font-size: 14px;
}

.sxp_mn .fl {
    background: #FFF;
}

.fl_g dt a,
.fl_tb h2 a {
    font-size: 16px;
    color: #fff;
}

#f_pst .bm_h {
    padding: 0px 10px;
    height: 46px;
    border: 0 none;
    border-bottom: 1px solid #808080;
    background: #1a1a1a;
    white-space: nowrap;
    overflow: hidden;
}

#f_pst .bm_h h2 {
    font-size: 14px;
    color: #0080cd;
}

.mn .fl {
    background: #333;
}

#sd_bdl {
    background: #FFF;
}

#sd_bdl dl {
    margin: 0 10px;
    background: #FFF;
}

.bdl {
    border: 1px solid #EDEDED;
    background: none repeat scroll 0% 0% transparent;
}

.bdl .tbn {
    margin: 0px;
}

.bdl .tbn h2 {
    display: block;
    height: 46px;
    line-height: 46px;
    overflow: hidden;
    font-size: 15px;
    font-weight: normal;
    color: #FFF;
    padding: 0 0 0 0;
    background:url({STYLEIMGDIR}/sb1_head_tit.png) 15px 50% no-repeat {
        MENUBGCOLOR
    }
    ;
    text-align:center;
}

.bdl .tbn h2 a {
    color: #FFF;
}

.bdl dl.a dt {
    background-position: 100% -33px;
}

.bdl dl dt {
    width: 100%;
    height: 33px;
    line-height: 33px;
    overflow: hidden;
    border-width: 0px 0px 1px;
    border-style: none none solid;
    border-color: #EDEDED;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    background: url({STYLEIMGDIR}/bdl_dl.png) no-repeat scroll 100% 0px transparent;
}

.bdl dl dt a {
    display: block;
    height: 33px;
    line-height: 33px;
    overflow: hidden;
    background: url({STYLEIMGDIR}/bdl_dt.png) no-repeat scroll 0px 50% transparent;
    color: #555;
    font-size: 14px;
    padding: 0px 0px 0px 25px;
}

.bdl dd.bdl_a a {
    background-color: #FFF;
    color: #F80;
}

.bdl dl dd a {
    display: block;
    height: 46px;
    line-height: 46px;
    overflow: hidden;
    background: url({STYLEIMGDIR}/bdl_a.png) no-repeat scroll 0px 50% transparent;
    padding-left: 20px;
}

#sd_bdl a:hover {
    color: #F80;
}

.pgbtn a {
    display: block;
    margin-bottom: 10px;
    border: 1px solid #EDEDED;
    border-radius: none;
    text-align: center;
    background: #FFF;
}

.pgbtn a:hover {
    border-color: #EDEDED;
    color: #2d95ff;
}

#livethread {
    background: #f6f6f6;
    border-top: 2px solid {
        MENUHOVERBGCOLOR
    }
    ;
}

.livethreadtitle {
    margin-bottom: 10px;
}

.livethreadtitle a {
    color: #555;
    font-size: 16px;
    font-weight: bold;
}

#livereplycontent dl dd a {
    color: #555;
}

.tl th em,
.tl th em a {
    color: #F80 !important;
    font-size: 14px;
}

#ct .tl td {
    border: none;
    padding: 0;
    width: 100%;
    background: #ededed;
}

.tl tr:hover th,
.tl tr:hover td {
    background-color: #F9F9F9;
}

.tl .mi_topinfo {
    background: #1a1a1a;
    padding: 15px 20px;
}

.mitops {
    height: 26px;
    line-height: 26px;
    overflow: hidden;
}

.tl .mitops .showmenu_outer {
    display: inline-block;
    width: 90px;
    height: 24px;
    line-height: 24px;
    margin-right: 8px;
    border: 1px solid #dfdfdf;
    background: #fff;
    float: left;
}

.tl .mitops .showmenu {
    display: block;
    padding: 0 0 0 10px;
    color: #333;
    background:url({STYLEIMGDIR}/mi_list_arw.gif) no-repeat 100% 50%;
}

.mitops #atarget,
.mitops .unchk,
.mitops .chked {
    background:url({STYLEIMGDIR}/atarget.png) no-repeat 0 4px;
    color: #656d78;
    line-height: 18px;
    padding-right: 15px;
    margin-top: 4px;
}

.mitops #atarget {
    color: #989898;
}

.mitops #atarget.atarget_1,
.mitops .chked {
    background-position: 0 -36px;
}

.mi_pop {
    min-width: 80px;
    margin-left: 0px;
    margin-top: 2px;
    padding: 5px;
}

.mi_pop a:hover,
.tl .mitops .showmenu_outer:hover {
    text-decoration: none;
}

.mi_f14 {
    font-size: 14px;
}

.tl table {
    border-collapse: collapse;
}

#threadlisttableid {
    table-layout: auto;
}

.tl td em,
.tl td em a {
    font-size: 14px;
    font-family: 'Microsoft Yahei', 'Simsun', Tahoma;
}

#threadlist {
    margin-bottom: 15px;
}

#threadlist .bm_c {
    padding: 0 15px;
}

.mi_postlist {
    border-bottom: 1px solid #333;
    padding: 10px;
}

.mi_postlist .mi_listtx {
    float: left;
    width: 48px;
    height: 48px;
    overflow: hidden;
    margin: 5px 10px 5px 0;
}

.mi_postlist .mi_listtx img {
    width: 48px;
    height: 48px;
    overflow: hidden;
    border-radius: 50%;
}

.mi_postlist h2 {
    line-height: 28px;
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
}

.mi_postlist h2 a:hover {
    color: #0085bb;
}

.mi_postlist h2 .mi_common {
    display: block;
}

.tl td .mi_common em,
.tl td .mi_common em a {
    color: {
        LINK
    }
    ;
    font-size:16px;
}

.mi_postlist h2 .mi_common span {
    font-size: 15px;
}

.mi_postlist h2 .mi_common span.mi_hs,
.mi_postlist h2 .mi_common span.mi_hs a {
    color: #fff;
    font-size: 14px;
}

.mi_postlist h2 .mi_common span.mi_tc,
.mi_postlist h2 .mi_common span.mi_tc a {
    color: #f50;
    font-size: 14px;
}

.mi_postlist h2 .mi_icn {
    float: left;
    height: 28px;
    overflow: hidden;
}

.mi_postlist h2 .mi_icn img {
    margin: 8px 6px 0 0;
}

.ie6 .mi_postlist h2 .mi_icn img {
    margin: 8px 0px 0 0;
}

.mi_postlist .mi_listtx .mi_o input {
    margin: 0;
    padding: 0;
}

.mi_postlist h2 .tdpre {
    background: #f3f3f3;
    display: inline;
    height: 18px;
    line-height: 18px;
    margin-top: 3px;
    overflow: hidden;
    text-align: center;
    padding: 1px 6px;
    font-size: 13px;
    color: #aaa;
    visibility: hidden;
}

.mi_postlist h2:hover .tdpre {
    background: {
        NOTICETEXT
    }
    ;
    color:#fff#2d9eff;
    text-decoration:none;
    visibility:visible;
}

.mi_postlist p {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    margin-top: 4px;
}

.tl td .mi_postlist p em {
    padding-right: 5px;
    font-size: 14px;
    font-family: 'Microsoft Yahei', 'Simsun', Tahoma;
}

.tl td .mi_postlist p em,
.tl td .mi_postlist p em a {
    color: #9b9b9b;
    font-size: 12px;
}

.tl td .mi_postlist p span.y em,
.tl td .mi_postlist p span.y em a {
    color: #9b9b9b;
}

.tl td .mi_postlist p em.mi_view,
.tl td .mi_postlist p em.mi_reply,
.tl td .mi_postlist p em.mi_user {
    padding-left: 20px;
    padding-right: 3px;
    background:url({STYLEIMGDIR}/mi_listico.gif) no-repeat;
}

.tl td .mi_postlist p em.mi_view {
    padding-right: 8px;
    background-position: -2px 3px;
}

.tl td .mi_postlist p em.mi_reply {
    padding-right: 3px;
    background-position: -1px -15px;
}

.tl td .mi_postlist p em.mi_user {
    padding-left: 0px;
    background: none;
}

.comiis_separatorline h3 {
    background: #fafafa;
    border-bottom: 1px solid #e9e9e9;
    padding: 10px 15px;
    color: #666;
    font-size: 14px;
    font-weight: 400;
    display: block;
}

.mi_postlist h2 .mi_common span.tps,
.mi_postlist h2 .mi_common a.xi1 {
    font-size: 12px;
}

#ct .tl .threadpre td.threadpretd {
    border: 1px solid #ededed;
    border-top: none;
    padding-top: 5px;
    padding-bottom: 10px;
}

.icon_preview {
    left: 61px;
    top: -13px;
}

.mi_separatorline h3 {
    background: #434343;
    border-bottom: 1px solid #808080;
    padding: 10px 15px;
    color: #666;
    font-size: 14px;
    font-weight: 400;
    display: block;
}

.pgbtn {
    margin-bottom: 0;
}

.pgbtn a {
    width: 180px;
    text-align: center;
    margin: 0 auto;
}

#autopbn {
    background: #fff;
    border-radius: 0 0 5px 5px;
    border:1px solid {
        WRAPBORDERCOLOR
    }
    ;
    border-top:none;
    color:#aab2bd;
    font-size:12px;
    height:24px;
    letter-spacing:0;
    line-height:22px;
    margin:-1px auto 0;
    padding:0;
    width:130px;
    display:block;
    text-align:center;
}

#autopbn i {
    display: inline-block;
    height: 0;
    width: 0;
    margin-right: 8px;
    border-color: #aab2bd transparent transparent;
    border-style: solid dashed dashed;
    border-width: 5px 5px 0;
    vertical-align: middle;
}

#autopbn:hover {
    color: #2d9eff;
}

#autopbn:hover i {
    border-color: {
        MENUBGCOLOR
    }
    transparent transparent;
}

.ie6 #autopbn i {
    display: none;
}

.mi_pgs {
    margin: 0;
    padding: 20px 0;
    text-align: center;
    overflow: hidden;
}

.mi_pgs .pg {
    float: none;
    display: inline-block;
}

.mi_pgs .pg a,
.mi_pgs .pg strong,
.mi_pgs .pgb a,
.mi_pgs .pg label {
    float: none;
    display: inline-block;
    font-weight: 400;
    margin-left: 0;
    margin-right: 5px;
}

.ie7 .mi_pgs .pg,
.ie7 .mi_pgs .pg label,
.ie6 .mi_pgs .pg,
.ie6 .mi_pgs .pg label {
    display: inline;
    vertical-align: top;
}


/** end **/


/** forum::viewthread **/

.sxp_viewmain {
    width: 1200px;
}

.sxp_viewmain_l {
    width: 960px;
}

.sxp_viewmain_r {
    width: 224px;
}

.newad2 {
    padding: 6px;
    background: #FFF;
    border: 1px solid #dedede;
    width: 210px;
}

.sxp_hottj {
    background: #FFF;
    border: 1px solid #dedede;
    padding-bottom: 10px;
}

.sxp_hottj h3 {
    border-bottom: 1px solid #EDEDED;
    padding: 0 15px;
    width: 190px;
    height: 46px;
    margin-bottom: 5px;
    background: #FAFAFA;
}

.sxp_hottj h3 span {
    line-height: 46px;
    font-size: 15px;
    color: #333;
    font-weight: normal;
    display: inline-block;
}

.sxp_hottj dl {
    padding: 0 11px;
}

.sxp_hottj dt a {
    font-weight: normal;
    font-size: 14px;
    color: #333;
}

.sxp_hottj dl:hover dt a {
    color: #2da9ff;
}

.sxp_hottj dd {
    color: #999;
    font-size: 12px;
}

.ad .pls {
    background: #ccc;
}

.addflw .xi2,
.pm2 .xi2 {
    color: #333;
}

.pi {
    /* overflow: hidden;*/
    margin-bottom: 10px;
    height: 16px;
    border-bottom: 0 none;
}

.pi strong a {
    float: right;
    margin-top: -6px;
    padding: 4px 6px;
    border: 0 none;
    font-weight: 400;
}

h1.ts {
    font-size: 18px;
}

.h_pls.ptn {
    padding-top: 10px !important;
}

.h_plc.pbn {
    padding-bottom: 10px !important;
}

.h_plc .y {
    padding-top: 5px;
}

.pgbtn a {
    display: block;
    margin-bottom: 10px;
    border: 1px solid #EDEDED;
    border-radius: none;
    text-align: center;
}

.pgbtn a:hover {
    border-color: #EDEDED;
    color: #F80;
}

.pgbtn .bm_h {
    background: #FFF;
}

span.y {
    color: #555;
}

.side_btn a.btn_s_close {
    left: -22px;
    top: 15px;
}

.side_btn a.btn_s_open {
    left: -16px;
    top: 15px;
}

.sxptr {
    background: #434343;
    height: 56px;
    line-height: 56px;
    overflow: hidden;
    border: 1px solid #333;
    border-bottom: none;
    padding: 0 10px;
    color: #ccc;
}

.sxptr_l {
    width: 160px;
    overflow: hidden;
    border-right: 1px solid #333;
}

.sxptr_r {
    padding-right: 15px;
    padding-left: 15px;
    background: #434343;
}

.sxptr_r h1 {
    font-size: 16px;
    font-weight: normal;
    display: inline;
    color: #555;
}

#postlist.bm {
    border: 0 none;
    background: none;
}

.pls {
    border-right: 1px solid #e5e5e5;
}

.pls .tns {
    background: #f1f1f1;
    padding: 8px 0;
    margin: 0 13px 10px;
    border-radius: 5px;
}

.tns th {
    border-right: 1px solid #e5e5e5;
}

.tns th,
.tns td,
.tns th a,
.tns td a {
    color: #888;
}

.plc {
    padding: 5px 15px;
}

.sxpview {
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
    padding: 0;
    background: #dadada;
}

.pi {
    overflow: hidden;
    margin-bottom: 10px;
    padding: 10px 0;
    height: 16px;
    border-bottom: 1px solid #e5e5e5;
}

.pls .pi {
    border-bottom: 0 none;
    margin-top: 5px;
    margin-bottom: 5px;
    height: auto;
}

.plc .pi .authi,
.plc .pi .authi a,
.plc .pi .authi .xi2 {
    color: #888;
    text-decoration: none;
}

.plc .pi .authi a:hover {
    color: #2d9eff;
}

.pi strong a {
    border: none;
    background: #ccc;
    color: #fff;
    margin-top: -5px;
    padding: 2px 15px;
}

.pi strong a.sxp1,
.pi strong a.sxp1:hover,
.pi strong a.sxp2,
.pi strong a.sxp2:hover,
.pi strong a.sxp3,
.pi strong a.sxp3:hover,
.pi strong a.sxp4,
.pi strong a.sxp4:hover {
    color: #fff;
}

.pi strong a.sxp1 {
    background: #F80;
}

.pi strong a.sxp2 {
    background: #ff4c4c;
}

.pi strong a.sxp3 {
    background: #f80;
}

.pi strong a.sxp4 {
    background: #6999ee;
}

#sxp_btn .sxp_share {
    padding-top: 15px;
}

#sxp_btn a {
    width: 50px;
    opacity: 0.7;
    margin: 0 5px;
    border-radius: 2px;
    padding: 5px 10px;
    color: #fff;
    background-image: none;
}

#sxp_btn a i {
    padding: 0px;
    background-image: none;
}

#sxp_btn #k_favorite {
    background-color: #2DCEA6;
}

#sxp_btn .followp {
    background-color: #5BC345;
}

#sxp_btn .sharep {
    background-color: #ABBF47;
}

#sxp_btn #k_collect {
    background-color: #5A9888;
}


/** end **/


/** forum::guide **/

.mn .pbn {
    padding-bottom: 0 !important;
}

.mn .bm_h {
    height: 30px;
    line-height: 30px;
}


/** end **/


/** group **/

.ct2 .mn {
    width: 940px !important;
}

.ct2 .sd {
    width: 250px !important;
}


/** end **/


/** misc **/

.ct2_a,
.ct3_a {
    border: 1px solid #E3E3E3;
    background-color: #FFF;
}

.ct2_a .mn {
    width: 1040px;
}

.xl2 li {
    width: 480px;
}

.xl2 li.xl2_r {
    margin-left: 30px;
}


/** end **/


/** home **/

.ct2_a,
.ct3_a {
    border: 1px solid #E3E3E3;
    background-color: #FFF;
}

.ct2_a .mn {
    width: 1046px;
}

.ct3_a .mn {
    width: 800px;
}

.pbr {
    height: 10px;
}

.ct1 {
    background: #FFF;
}


/** end **/


/** portal **/

.ct2 .mn {
    float: left;
    width: 860px;
    margin-bottom: 1em;
    /*background:#434343;*/
}

.ct2 .sd {
    float: right;
    width: 320px;
    overflow: hidden;
    _overflow-y: visible;
}


/** end **/


/** portal::index **/

body {
    background:url({STYLEIMGDIR}/bg3.jpg) repeat scroll center top;
    height: auto;
}

.sxptoptb {
    background: #000 !important;
}

#sxp_nv {
    background: #1a1a1a;
}

#sxp_nv3 ul li a:hover,
#sxp_nv3 ul li.a a,
#sxp_nv3 ul li.hover a,
#sxp_nv3 li.hover a:hover {
    background: url(http://fanswoo-xxxx.com/hd.club.tw/template/sxp_bbs_105s/image/menu_button_bk.jpg) repeat-x 100% 100%;
}

#hd .h_pop {
    background: #1a1a1a;
}

#hd .p_pop.h_pop {
    background: #1a1a1a;
}

#hd .h_pop li a:hover {
    background: #666;
}

.sxpfttop {
    background: #000;
}

.sxp_slider_sxp-pagination .sxp_slider_sxp-pagination-item a:hover,
.sxp_slider_sxp-pagination .sxp_slider_sxp-pagination-item a.active {
    background: #808080;
    border: 1px solid #666;
}

#scrolltop a.scrolltopa:hover {
    background-color: #2C90ED !important;
}

#scrolltop a:hover {
    border-color: #2C90ED;
}


/** end **/


/*首頁告示板內頁*/

.pg_viewthread .pls {
    background: #ccc;
}

.pg_viewthread .sxp_hottj dt a {
    color: #fff;
}

.pg_viewthread .sxp_hottj {
    background: rgba(67, 67, 67, 0.7);
    border: 1px solid #808080;
}

.xl2 li {
    padding: 0 31px;
    width: 40%;
    height: auto;
}


/*會員左側訊息欄位*/

.pg_viewthread .pls .xl2 li {
    padding: 0;
}