a {
    transition: color 0.2s ease-in-out 0s;
}

body,
em,
dd,
p,
a {
    font-size: 14px;
}

body {
    height: auto;
}

.wp {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    height: auto;
}

#hd .wp,
#toptb .wp {
    width: 1200px;
}

.a_t {
    margin-bottom: 10px;
}

.a_f {
    margin-bottom: 10px;
}

.a_h {
    padding: 0;
    background: #fff;
}

.a_mu {
    border: none;
    background: #FFF;
    padding-bottom: 10px;
    width: 1200px;
    margin: 0 auto;
}

.pn {
    border: none !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

#hd {
    border: none;
    margin-bottom: 0px;
    background: #434343;
}

#hd .wp {
    padding: 0;
}

#hd h2 {
    margin-right: 10px;
    float: left;
    overflow: hidden;
    padding: 0;
}

#hd .fastlg {
    padding-top: 0;
}

.hdc {
    min-height: 70px;
    padding: 28px 0;
}

.sxptoptb {
    height: 28px !important;
    border-bottom: 0 none !important;
    padding: 5px 0 !important;
    background: #434343 !important;
}

.sxptoptb .qq_bind {
    margin-top: 3px;
}

.sxptoptb .fastlg_fm {
    padding-right: 0 !important;
    margin-right: 5px !important;
    margin-top: 2px;
    border-right: 0 none;
}

.sxptoptb,
.sxptoptb a {
    color: #ccc !important;
}

.sxptoptb a:hover {
    color: #2d9eff !important;
}

.sxptoptb .pipe {
    color: #555 !important;
}

.sxptoptb #myprompt.new {
    padding-right: 5px !important;
}

#toptb .new {
    font-weight: normal;
    padding-left: 5px;
    background: none;
}

#diy-tg_menu a {
    color: #EE831F !important;
}

.newpop {
    box-shadow: 0 none !important;
    /*border:2px solid #eee;*/
    padding: 0;
    width: 100px;
    margin-top: 6px;
}

.newpop li {
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 100%;
    float: left;
}

.newpop li a {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #808080;
    color: #dadada;
}

.newpop li a:hover {
    color: #2d9eff;
}

.sxp_hd {
    width: 1200px;
    margin: 0 auto;
}

.fl_tb .xi1,
.fl_tb .xi2,
.fl_tb .xi2 a {
    color: #F80 !important;
}


/*------------------------------------------------------------------------*/

#hd .h_pop {
    min-width: 100px;
    padding: 0;
    background: {
        MENUHOVERBGCOLOR
    }
    ;
    border:0 none;
    border-top:0 none;
    box-shadow:0 0 0 #fff;
    padding:0px;
}

#hd .h_pop li a {
    margin: 0px;
    min-width: 100px;
    text-align: left;
    line-height: 34px;
    color: #FFF;
    font-size: 14px;
    border: 0 none;
    border-bottom: 0 none;
    padding-left: 15px;
    padding-right: 15px;
}

#hd .h_pop li a:hover {
    color: #FFF;
    background: #666;
}

#hd .p_pop.h_pop {
    background: #1a1a1a;
}


/*------------------------------------------------------------------*/

.sxp_y_l,
.sxp_y_r {
    float: right;
    height: 32px;
    overflow: hidden;
}

.sxp_avatar img {
    height: 29px;
    border-radius: 100%;
    margin-right: -5px;
}

.sxp_y_l .avt img {
    padding: 0;
    width: 29px;
    height: 29px;
    background: none;
    border: none;
    border-radius: 100%;
    margin-left: 5px;
}

.sxp_y_l #myitem {
    padding-left: 12px !important;
}

#toptb .pipe {
    display: block;
    color: #D5D5D5;
    margin: 0 1px;
}

#g_upmine {
    border: 0;
}

#sxp_login {
    overflow: hidden;
    height: 30px;
    padding-top: 1px;
    line-height: 22px;
}

#sxp_login a {
    height: 22px;
    padding: 0 2px;
}

#sxp_login .px {
    width: 60px;
    border: 1px solid #EBEAEA;
    border-radius: 3px;
}

#sxp_login .ftid a {
    margin-right: -10px;
    margin-top: 2px;
    padding: 0 15px 0 0;
}

.ie6 #sxp_login .ftid a {
    margin-right: -2px;
}

#sxp_login .fastlg_fm {
    margin-right: 5px!important;
    padding-right: 0!important;
    border: none;
}

#sxp_login .hm.xg1 {
    width: 0;
    height: 0;
    line-height: 900px;
}

#sxp_td {
    border: none;
    width: 45px;
    height: 23px;
    line-height: 22px;
    cursor: pointer;
}


/*------------------------------------------------------------------*/

.sxpscbar {
    width: 1020px;
    height: 60px;
    background:url({STYLEIMGDIR}/sousuobg9.jpg) no-repeat scroll -500px center;
    padding: 27px 90px;
}

.sxp_scbar {
    width: 684px;
    overflow: hidden;
    height: 50px;
    background:url("{STYLEIMGDIR}/sousuobg.png") repeat scroll 0 0 transparent;
    padding: 5px;
    border-radius: 2px;
    float: left;
}

#scbar {
    border: 0 none;
    background: none;
    height: 50px;
    line-height: 50px;
}

#scbar_txt {
    width: 609px !important;
    font-size: 14px;
    line-height: 50px;
    height: 50px;
    border: 0 none;
    background: none;
    padding-left: 9px;
    color: #FFF;
}

.scbar_txt_td {
    background: #F3F3F3;
    border: 0 none;
}

.scbar_btn_td {
    width: 66px;
    height: 50px;
    padding: 0;
    margin: 0;
    border: 0 none;
    background:url({STYLEIMGDIR}/sxpscbar2.png) no-repeat scroll 24px 16px #999;
}

#scbar_btn {
    width: 66px;
    height: 50px;
}

#scbar_btn strong {
    line-height: 50px;
    font-size: 15px;
    color: #444;
    font-weight: normal;
}

#scbar_hot {
    height: 25px;
    padding: 0;
}

#scbar .xi2 {
    color: #666;
}

#scbar_txt.xg1 {
    color: #999 !important;
}

.scbar_type_td {
    width: 70px;
    background: url("{STYLEIMGDIR}/type.png") no-repeat;
}

#scbar_type {
    padding-left: 15px;
    font-size: 14px;
    color: #999;
}

#scbar_type_menu {
    border: 1px solid #E6E6E6;
    border-top: 0 none;
    padding: 4px;
    min-width: 60px;
    margin: -1px 0 0 -3px;
    background: #FFF;
}

#scbar_type_menu li {}

#scbar_type_menu li a {
    padding: 5px;
    margin: 0;
    border-bottom: 0 none;
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    color: #999;
}

#scbar_type_menu li a:hover {
    color: #333;
    background: #FFF;
}


/*------------------------------------------------------------------*/

.sxpsd_area1 {
    width: 316px;
    height: 60px;
    float: right;
    overflow: hidden;
}

.sxpsd_area2 li {
    border-radius: 2px;
    background:url("{STYLEIMGDIR}/sousuobg.png") repeat scroll 0 0 transparent;
    padding: 5px;
    width: 138px;
    height: 50px;
    float: left;
    overflow: hidden;
    margin-right: 10px;
}

.sxpsd_area2 a {
    display: block;
    width: 138px;
    height: 50px;
    line-height: 50px;
    background: #01B584;
}

.sxpsd_area2 a:hover {
    color: #FFF;
    opacity: 0.9;
}

.sxpsd_area2 .area2_ft {
    background: #F90;
}

.sxpsd_area2 i {
    float: left;
    margin-left: 20px;
    margin-right: 15px;
    margin-top: 12px;
    width: 25px;
    height: 25px;
    background:url({STYLEIMGDIR}/side.png) no-repeat scroll;
}

.sxpsd_area2 .area2_icon1 {
    background-position: 0 0;
}

.sxpsd_area2 .area2_icon2 {
    background-position: 0 -56px;
}

.sxpsd_area2 span {
    color: #FFF;
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: left;
    font-size: 20px;
    font-weight: normal;
}

.sxpsd_area2 span:hover {
    color: #FFF;
}


/*------------------------------------------------------------------*/

#sxp_nv {
    padding: 0;
    width: 100%;
    margin: 0 auto;
    height: 90px;
    background: #1a1a1a;
}

#sxp_nv2 {
    margin: 0px auto;
    width: 1200px;
    height: 90px;
    overflow: visible;
    position: relative;
}

#sxp_nv_h2 {
    width: 200px;
    height: 90px;
    position: absolute;
    left: 0;
    overflow: hidden;
}

#sxp_nv3 {
    height: 90px;
    width: 850px;
    overflow: hidden;
    position: absolute;
    left: 200px;
}

#sxp_nv3 ul li {
    float: left;
    height: 90px;
    line-height: 90px;
    background: none;
    margin: 0;
    *line-height: 92px;
}

#sxp_nv3 ul li span {
    display: none;
}

#sxp_nv3 ul li a:hover {
    background: url(http://fanswoo-xxxx.com/hd.club.tw/template/sxp_bbs_105s/image/menu_button_bk.jpg) repeat-x 100% 100%;
    color: #FFF;
    text-decoration: none;
}

#sxp_nv3 ul li.a a {
    background: {
        MENUHOVERBGCOLOR
    }
    ;
    color: #FFF;
}

#sxp_nv3 ul li a {
    float: left;
    height: 90px;
    font-size: 15px;
    font-weight: normal;
    padding: 0 25px;
    color: #FFF;
    margin: 0;
}

#sxp_nv3 ul li.hover a,
#sxp_nv3 li.hover a:hover {
    background: url(http://fanswoo-xxxx.com/hd.club.tw/template/sxp_bbs_105s/image/menu_button_bk.jpg) repeat-x 100% 100%;
    color: #FFF;
}

#sxp_nv4 {
    width: 50px;
    height: 90px;
    position: absolute;
    right: 0;
}

#qmenu {
    position: absolute;
    right: 0;
    top: 35px;
    width: 37px;
    height: 20px;
    margin: 0;
    padding: 0;
    border: 0;
    background:url({STYLEIMGDIR}/quick.png) center center no-repeat;
    text-indent: -9999px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
}

#qmenu.a,
#qmenu:hover {
    background:url({STYLEIMGDIR}/quick.png) center center no-repeat;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}

#qmenu_menu {
    margin-top: 35px;
    box-shadow: 0 0 0 #fff;
    border-radius: 2px;
    border: 1px solid #eee;
}


/*------------------------------------------------------------------------*/

#toptb a#sslct {
    background:url({STYLEIMGDIR}/sxp_style.png) no-repeat 100% 0;
    margin-top: 6px;
    width: 16px !important;
    height: 16px !important;
    margin-left: 10px;
}

#sslct_menu {
    padding: 10px;
    margin-top: 15px;
}

#sslct_menu.p_pop {
    padding: 10px 0 0 10px;
    border: 3px solid #F3F3F3;
    width: 200px;
    background: none repeat scroll 0% 0% #FFF;
    box-shadow: 0 0 0 0;
}

.sslct_btn {
    float: left;
    margin: 0px 10px 10px 0;
    width: 30px;
    height: 30px;
    border: 0 none;
    cursor: pointer;
    text-indent: 10px;
    overflow: hidden;
}

.sslct_btn:hover {
    background: #ddd;
}

.sslct_btn i {
    float: left;
    display: inline;
    margin: 0px;
    width: 30px;
    height: 30px;
    background: #ff6f3d;
    overflow: hidden;
    font-style: normal;
}

#sslct_menu p {
    line-height: 42px;
    text-align: center;
}


/*------------------------------------------------------------------------*/

.switchwidth {
    background-image: none;
}

.switchwidth:hover {
    background: none;
}


/* ---------------------------------------------------------- */

#mu {
    width: 1200px;
    margin: 0 auto;
    background: #FFF;
    border-left: 0 none !important;
    border-right: 0 none !important;
}

#mu ul {
    width: 1200px;
    margin: 0 auto;
    background-color: #FFF !important;
    border-bottom: 0 none !important;
}

#mu a {
    float: left;
    display: inline;
    margin: 5px 6px;
    font-size: 14px;
}

#mu a:hover {
    margin: 4px 5px;
    border: 1px solid #FFF;
    background: #FFF none repeat scroll 0% 0%;
    color: #F80 !important;
}


/*------------------------------------------------------------------------*/

#pt {
    margin: 10px 0 10px 0;
}

#pt .xi2 {
    color: #333 !important;
}


/*------------------------------------------------------------------------*/

.pn,
.tb .o,
.tb .o a {
    background-image: url("{STYLEIMGDIR}/pn.png");
    border: 1px solid #999;
}

.pgs {
    background: #none;
}

.pgs #newspecial,
.pgs #newspecialtmp {
    float: left;
    background: url("{STYLEIMGDIR}/pn_post.png") no-repeat 0 0;
    width: 115px;
    height: 36px;
}

#post_reply,
#post_replytmp {
    float: left;
    background: url("{STYLEIMGDIR}/pn_reply.png") no-repeat 0 0 #F80;
    width: 80px;
    height: 36px;
}

#newspecial img,
#newspecialtmp img,
#post_reply img,
#post_replytmp img {
    opacity: 0;
    filter: alpha(opacity=0);
}

.el .ec .hot,
.clct_list .xld .m {
    background-image: url("{STYLEIMGDIR}/hotspot.gif");
}

.pg a,
.pg strong,
.pgb a,
.pg label {
    float: none;
    display: inline-block;
    min-width: 18px;
    height: 30px;
    line-height: 30px;
    margin-left: -1px;
    padding: 0px 6px;
    border: 1px solid #808080;
    font-size: 14px;
    text-align: center;
    font-weight: normal;
    color: #ccc;
    background: #434343;
}

.pgb a {
    padding: 0px 6px 0px 10px;
    background-position: 5px center;
}

.pg a:hover,
.pgb a:hover {
    border: 1px solid #333;
    background-color: #989898;
    color: #2d9eff;
}

.pg strong {
    background: #0080d3;
    color: #FFF;
}

.pnpost .pn {
    border: medium none;
    line-height: 32px;
    background: #0080d3;
}


/*------------------------------------------------------------------------*/

.plugin .bm {
    border: 1px solid #D3D3D3;
}

.plugin .bm_h {
    margin: 0;
    height: 34px;
    line-height: 34px;
    padding: 0 10px;
    border: 0 none;
    border-bottom: 1px solid #D3D3D3;
}

.bm .bm_h.cl {
    border-top: 1px solid rgba(0, 0, 0, 0);
    border-bottom: 1px solid #565656;
}

.plugin .bm_h h2 {
    font-size: 12px;
}


/*------------------------------------------------------------------------*/

.sxpfttop {
    background: #262B2F;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sxpw1100 {
    width: 1200px;
    margin: 0 auto;
}

.sxpftpad {
    float: left;
    /* margin-right:30px;*/
}

.sxpftpad h3 {
    color: #969798;
    font-weight: 400;
}

.sxpftpad h3 .pipe {
    color: #262B2F;
}

.sxpftpad ul li {
    line-height: 30px;
    color: #969798;
}

.sxpftpad ul li a,
.sxpftpad h3 a {
    color: #969798;
    line-height: 28px;
    font-size: 14px;
}

.sxpftpad ul li a:hover,
.sxpftpad h3 a:hover {
    color: #fff;
}

.sxpftpada {
    white-space: nowrap;
    width: 166px;
    margin-top: 15px;
}

.sxpftpada a {
    font-size: 13px;
    color: #999;
    display: block;
    float: left;
    margin-right: 15px;
    line-height: 30px;
}

.sxpftpada a:hover {
    color: #fff;
}

.sxpftpadimg {
    margin-top: 15px;
}

.sxpftpadimg a {
    display: block;
    margin-bottom: 10px;
}

.sxpftpadimg a img {
    opacity: 0.7;
}

.sxpftpadimg a:hover img {
    opacity: 1;
}

.sxpftright {
    float: right;
}

.sxpftshare {
    margin-top: 10px;
}

.sxpftshare ul {}

.sxpftshare ul li {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    float: left;
    margin-right: 10px;
}

.sxpftshare ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    opacity: 0.5;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.sxpftshare ul li a:hover {
    opacity: 1;
}

.sxpftshare ul li.sxpftli1 a span {
    display: block;
    width: 40px;
    height: 40px;
    background:url({STYLEIMGDIR}/sina.png) center center no-repeat;
}

.sxpftshare ul li.sxpftli2 a span {
    display: block;
    width: 40px;
    height: 40px;
    background:url({STYLEIMGDIR}/wx.png) center center no-repeat;
}

.sxpftshare ul li.sxpftli3 a span {
    display: block;
    width: 40px;
    height: 40px;
    background:url({STYLEIMGDIR}/qqq.png) center center no-repeat;
}

.sxpftshare ul li.sxpftli4 a span {
    display: block;
    width: 40px;
    height: 40px;
    background:url({STYLEIMGDIR}/rss.png) center center no-repeat;
}

.sxpftshare ul li.sxpftli2 {
    position: relative;
}

.sxpftshare ul li.sxpftli2 b {
    position: absolute;
    bottom: -70px;
    left: -40px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    opacity: 0;
    -webkit-transform: translate(-50%, -90%) scale(0);
    -ms-transform: translate(-50%, -90%) scale(0);
    transform: translate(-50%, -90%) scale(0);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
}

.sxpftshare ul li.sxpftli2 b:after {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 100%);
    -ms-transform: translate(-50%, 100%);
    transform: translate(-50%, 100%);
    bottom: 0;
    display: block;
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
}

.sxpftshare ul li.sxpftli2:hover b {
    display: block;
    opacity: 1;
    -webkit-transform: translate(-50%, -100%) scale(1);
    -ms-transform: translate(-50%, -100%) scale(1);
    transform: translate(-50%, -100%) scale(1);
}


/*------------------------------------------------------------------------*/

.sxpcai {
    border: 1px solid #dedede !important;
    height: 150px;
    overflow: hidden;
    margin: 10px 0 20px 0!important;
    padding: 14px 14px 14px 44px!important;
    background: #cfcfcf url({STYLEIMGDIR}/tj.gif) no-repeat scroll 0% 0% !important;
    width: 1140px;
}

.sxpcai_left {
    width: 700px;
    height: 150px;
    float: left;
    overflow: hidden;
}

.sxpcai_left li {
    padding: 0;
    margin: 8px 15px 0 0;
}

.sxpcai_left p {
    height: 32px;
    line-height: 32px;
}

.sxpcai_left p a {
    color: #555;
}

.sxpcai_right {
    width: 430px;
    height: 150px;
    float: right;
    overflow: hidden;
}

.sxpcai_right li {
    line-height: 30px;
    margin: 0;
    padding: 0 0 0 10px;
    width: 100%;
    float: left;
    height: 30px;
    overflow: hidden;
    position: relative;
    background:url({STYLEIMGDIR}/subs2.gif) no-repeat scroll 0 14px;
}

.sxpcai_right li em {
    position: absolute;
    right: 15px;
    font-weight: normal;
    color: #989898;
}

.sxpcai_right li a {
    color: #555;
    font-size: 14px;
}

.sxpcai_right li a:hover,
.sxpcai_left li:hover p a {
    color: #2d9eff;
}


/* ---------------------------------------------------------- */

.newad {
    padding: 10px;
    background: #FFF;
}


/*------------------------------------------------------------------------*/

.sxp_slider {
    width: 865px;
    background: #FFF;
    height: 360px;
    margin-right: 15px;
}

.sxp_slider img {
    width: 865px;
    height: 360px;
}

.sxp_icon-slides {
    display: inline-block;
    width: 41px;
    height: 69px;
    text-indent: -9999em;
    overflow: hidden;
    background-image:url({STYLEIMGDIR}/sxp_slides.png);
    background-repeat: no-repeat;
    _filter: alpha(opacity=40);
}

.sxp_icon-slides-prev {
    background-position: -84px center;
}

.sxp_icon-slides-prev:hover {
    background-position: 0 center;
}

.sxp_icon-slides-next {
    background-position: -125px center;
}

.sxp_icon-slides-next:hover {
    background-position: -42px center;
}

.sxp_slider_sxp {
    position: relative;
    height: 360px;
    overflow: hidden;
    _zoom: 1;
}

.sxp_slider_sxp-pagination {
    position: absolute;
    right: 15px;
    bottom: 15px;
    z-index: 10;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.sxp_slider_sxp-pagination .sxp_slider_sxp-pagination-item {
    display: inline;
    margin-left: 8px;
}

.sxp_slider_sxp-pagination .sxp_slider_sxp-pagination-item a {
    display: inline-block;
    width: 10px;
    height: 10px;
    line-height: 10px;
    border: 1px solid #E4E4E4;
    font-size: 0;
    text-align: center;
    color: #E4E4E4;
    background: #E4E4E4;
}

.sxp_slider_sxp-pagination .sxp_slider_sxp-pagination-item a:hover,
.sxp_slider_sxp-pagination .sxp_slider_sxp-pagination-item a.active {
    background: #808080;
    border:1px solid {
        MENUBGCOLOR
    }
    ;
    text-decoration:none;
    color: {
        MENUBGCOLOR
    }
    ;
}

.sxp_slider_sxp-navigation {
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 10;
}

.sxp_slider_sxp-previous {
    left: 0;
}

.sxp_slider_sxp-next {
    right: 0;
}


/* ---------------------------------------------------------- */

.sxp_ggg {
    display: none;
    padding: 15px;
    background: #434343;
    height: 30px;
    position: relative;
    overflow: hidden;
}

.sxp_ggg .z h3 {
    height: 30px;
    line-height: 30px;
    font-weight: normal;
    color: #888;
    padding-left: 32px;
    background: url({STYLEIMGDIR}/newIcon.gif) 0 center no-repeat;
    font-size: 14px;
    overflow: hidden;
}

.sxp_ggg #an {
    margin-bottom: 0;
}

.sxp_ggg #anc,
.sxp_ggg #an li {
    height: 30px;
}

.sxp_ggg a {
    color: #ccc;
    font-size: 14px;
    line-height: 30px;
}

.sxp_ggg em {
    color: #ccc;
    font-size: 12px;
    line-height: 30px;
}

.sxp_ggg a:hover {
    color: #F80;
}

.sxp_ggg .y {
    margin-left: 10px;
}


/* ---------------------------------------------------------- */

.sxp_no2 {
    width: 1200px;
    height: 360px;
    overflow: hidden;
    margin-bottom: 15px;
}

.sxp_no2 .frame-1-1-l {
    width: 880px;
    margin: 0;
    padding: 0;
}

.sxp_no2 .frame-1-1-r {
    width: 320px;
    margin: 0;
    padding: 0;
}

.sxp_adpic {
    width: 320px;
    height: 360px;
    overflow: hidden;
}

.sxp_adpic li {
    width: 320px;
    height: 172px;
    overflow: hidden;
    margin-bottom: 16px;
    position: relative;
}

.sxp_adpic li img {
    width: 320px;
    height: 172px;
    margin: 0;
    padding: 0;
    border: 0;
    webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.sxp_adpic li:hover img {
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
}

.sxp_adpic li a {
    display: block;
}

.sxp_adpic li p {
    position: absolute;
    bottom: 0;
    z-index: 1;
    background: url("{STYLEIMGDIR}/sbbg.png") repeat-x left top;
    height: 50px;
    width: 100%;
    margin: 0;
    line-height: 56px;
    color: #fff;
    font-size: 16px;
    text-align: center;
}


/*------------------------------------------------------------------------*/

.a_mu {
    background: none;
    border: 0 none;
}


/* ---------------------------------------------------------- */

#scrolltop {
    background: none;
    border: none;
    margin: 0 10px 30px;
    width: 50px;
    border-top: 0 none;
    border-radius: 0;
}

#scrolltop a {
    width: 48px;
    height: 48px;
    display: block;
    border: 1px solid #e5e5e5;
    margin-top: 5px;
    padding: 0;
    background:#FFF url({STYLEIMGDIR}/scrolltop.png) no-repeat;
}

#scrolltop a.replyfast {
    background-position: 0 -49px !important;
}

#scrolltop a.returnlist,
#scrolltop a.returnboard {
    background-position: 0 -98px !important;
}

#scrolltop a:hover {
    background:#2d9eff url({STYLEIMGDIR}/scrolltop.png) no-repeat !important;
    border-color: #333;
}

#scrolltop a.replyfast:hover {
    background-color: {
        MENUBGCOLOR
    }
    !important;
    background-position:-58px -49px !important;
}

#scrolltop a.scrolltopa:hover {
    background-color: {
        MENUBGCOLOR
    }
    !important;
    background-position:-58px 0 !important;
}

#scrolltop a.returnlist:hover,
#scrolltop a.returnboard:hover {
    background-color: {
        MENUBGCOLOR
    }
    !important;
    background-position:-58px -98px !important;
}


/*------------------------------------------------------------------------*/

.frame,
.block,
.temp {
    padding: 0px;
    margin: 0px;
    background: none;
    border: none;
}

.title {
    padding: 0px 10px;
    height: 40px;
    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
    overflow: hidden;
}

a:hover {
    text-decoration: none;
}

.waterfall li {
    background: 0 none;
    border-color: #DFDFDF;
}

.height8 {
    height: 8px;
}

.height20 {
    height: 15px;
}

ul,
li {
    list-style: none;
}

.clear {
    clear: both;
}

.bottom5 {
    border-bottom: 0 none !important;
}

.margin0 {
    margin-bottom: 0 !important;
}


/*-----------------------------------System-------------------------------------*/

.bm_c,
.bm_h {
    padding-left: 15px;
    padding-right: 15px;
}


/*-----------------------------------Post-------------------------------------*/

.postboxx {
    border: 1px solid #DEDEDE;
    background: #FFF;
    padding: 15px;
}

.tbb {
    margin-top: 0px;
    padding: 15px;
    line-height: 30px;
    border: 1px solid #DEDEDE;
    margin-bottom: 10px;
    background: #FFF;
}

.pnn {
    color: #FFF;
    font-weight: normal;
    box-shadow: 0 0 0;
}


/*-----------------------------------Group-------------------------------------*/

.bmm {
    border: 1px solid #808080;
    background: #FFF;
    padding: 15px;
}

.tbmuu {
    padding: 15px;
    border: 1px solid #DEDEDE;
    background: #FFF;
    margin: 10px 0;
}


/*textarea背景顏色另外設定*/

.tedt {
    width: 100%;
    border: 1px solid;
    border-color: #999;
}

.tedt .area {
    background: #ededed;
}

.tedt .area textarea {
    background: #ededed;
}

.area .tedt .pt {
    background: #ededed;
}

.pbt.cl .px {
    background: #ededed;
}

.ftid a {
    background: url(http://fanswoo-xxxx.com/hd.club.tw/template/sxp_bbs_105s/img/newarow.gif) no-repeat 100% 0;
    border-color: #808080;
}


/*新聞快訊*/

.pg_list.pg_list_1 .bm_c.xld,
.pg_list.pg_list_5 .bm_c.xld {
    color: #ccc;
}

.pg_list.pg_list_1 .sd.pph {
    width: 200px;
    padding: 0 20px;
}

.pg_list.pg_list_1 .portal_block_summary input {
    width: 100%;
}

.pg_list.pg_list_1 .area .block {
    padding: 5px 0;
}

.pg_list.pg_list_1 .ct2 .mn {
    width: 950px;
    margin-bottom: 200px;
}

.pg_list.pg_list_1 .bm {
    background: #333;
}

.pg_list.pg_list_1 .bm.vw {
    background: #ccc;
    padding: 10px 25px;
}

.pg_list.pg_list_1 .bm_h.cl,
.pg_list.pg_list_5 .bm_h.cl {
    background: #434343;
    color: #fff;
    padding: 0 30px;
}

.pg_list.pg_list_1 .portal_block_summary button {
    margin-top: 8px;
}

.pg_list.pg_list_1 .bm_c a {
    color: #28a0dd;
}

.pg_list.pg_list_1 .area {
    color: #fff
}

.pg_list.pg_list_1 .area ul li a {
    color: #b1b1b1;
}

.pg_list.pg_list_1 .area ul li a:hover {
    color: #2d9eff;
}

.pg_list.pg_list_1 .xl2 li {
    padding: 0;
    width: 100%;
}

.pg_forumdisplay .xl2 li {
    line-height: 1.5em;
    padding: 0 15px;
    width: auto;
    height: auto;
    overflow: visible;
    background: url(http://fanswoo-xxxx.com/hd.club.tw/template/sxp_bbs_105s/image/subs2.gif) no-repeat scroll left center;
}

.pg_forumdisplay .bm_h {
    padding-left: 0px;
    padding-right: 0px;
}

.pg_forumdisplay .bmw .bm_h h2 {
    padding-left: 25px;
    padding-right: 45px;
}

.pg_forumdisplay span.y {
    padding-right: 15px;
}

.pg_forumdisplay .xs2 {
    padding-left: 15px;
}

.pg_forumdisplay .waterfall {
    margin-top: 0;
    margin: 15px auto 0 auto;
}

.pg_forumdisplay .waterfall .c,
.waterfall h3 {
    background: #dadada;
}

.pg_forumdisplay .waterfall .auth {
    background: #dadada;
}

.pg_forumdisplay .xg1.y {
    color: #333;
}

.pg_forumdisplay .module.cl.ml {
    padding-top: 20px;
}

.pg_forumdisplay #wp {
    margin-bottom: 200px;
}


/*新聞快訊_view*/

.pn {
    background: #0085bb;
    color: #fff;
}

.mi_common a {
    color: #ccc;
}

.pg_view .bm.vw {
    background: #ccc;
    padding: 10px 25px;
}

.pg_view .vw .s {
    color: #0080d3;
}

.pg_view .vw .d ul li {
    color: #fff;
}

.pg_view .bm_h {
    background: #666;
    color: #fff;
}

.pg_view .ct2 .sd {
    width: 200px;
    padding: 0 20px;
}

.pg_view .area .block {
    padding: 5px 0;
}

.pg_view .portal_block_summary input {
    width: 100%;
}

.pg_view .portal_block_summary select {
    margin-top: 8px;
}

.pg_view .ct2 .mn {
    width: 950px;
    margin-bottom: 200px;
}

.pg_view .bm_c {
    background-color: #ccc;
}

.pg_view #nv_portal .vw .pren em {
    color: #ccc;
}

.pg_view .xg1,
.xg1 a {
    color: #666 !important;
}

.pg_view .right3_box01_li a:hover {
    color: #2d9eff;
}


/*list_view*/

.pg_view .sd.pph .bm .bm_c {
    background-color: #333;
}

.pg_view .bm_c a {
    color: #2d9eff;
}


/*首頁版面*/

.pg_index .module.cl.xl h2 {
    color: #fff
}

.pg_index .sxpmain2 dt a {
    color: #0080d3 !important;
}

.pg_index .sxpmain2 dt a:hover {
    color: #2da4ff;
}

.module.cl.xl li a:hover {
    color: #2da4ff;
}

.pg_index .wp.wz2 .area {
    padding-bottom: 150px;
}

.pg_index .sxpsd_area1 {
    width: 150px;
}

.pg_index .sxp_scbar {
    width: 835px;
}

#scbar_txt {
    width: 760px !important;
}

.pg_index #tebie6 div {
    color: #333;
    line-height: 20px;
    padding-bottom: 5px;
    font-size: 13px;
}

#sxp_nv3 ul li a:hover {
    background: url(http://fanswoo-xxxx.com/hd.club.tw/template/sxp_bbs_105s/image/menu_button_bk.jpg) repeat-x 100% 100%;
}

#sxp_nv3 ul li.a a {
    background: url(http://fanswoo-xxxx.com/hd.club.tw/template/sxp_bbs_105s/image/menu_button_bk.jpg) repeat-x 100% 100%;
}

.pg_index .sxpmain5 {
    height: 255px;
}

.pg_index .sxpmain5 #tebie7 ul li {
    height: 21px;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -moz-line-clamp: 1;
    -ms-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.pg_index .sxpmain5 #tebie7 ul li a:hover {
    color: #2da4ff;
}

.pg_index .sxpmain5 #tebie6 li a {
    height: 50px;
    color: #0080d3;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.pg_index .sxpmain5 #tebie6 li {
    margin: 0 0 5px 0;
}

.pg_index #tebie6 {
    font-size: 14px;
}

.pg_index #tebie6 img {
    display: none;
}

.pg_index .sxpmain5 #tebie6 p {
    font-size: 13px;
}

.pg_index .sxpmain5 #tebie6 {
    width: 230px;
    height: 90px;
    padding-right: 0;
    border-bottom: none;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.pg_index .sxpmain5 #tebie5 {
    width: 320px;
    height: 180px;
    padding-top: 5px;
}

.pg_index .sxpmain5 #tebie7 {
    width: 230px;
}

.pg_index .sxpmain2 dd {
    font-size: 13px;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-right: 6px;
    width: 360px;
}

.sxpmain5 {
    overflow: visible;
}

.sxpmain5 .sxpmain5_a {
    overflow: visible;
    padding-bottom: 25px;
    height: 255px;
}

.pg_index .wz1 h2 {
    color: #0080d3;
}

.pg_index .fl_tb p a {
    text-decoration: underline;
}

.pg_index .sxp_lieb dl dd {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -moz-line-clamp: 4;
    -ms-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.pg_index #ct {
    margin-bottom: 200px;
}

.pg_index .p_pop a {
    border-bottom: 1px solid #808080;
}


/*論壇調整*/

#nv_forum .xg2 {
    color: #ccc;
}

#nv_forum .bm_c p {
    color: #b1b1b1;
}

#nv_forum .fl_by cite {
    color: #989898;
}

#nv_forum .fl_by div {
    color: #989898;
    width: 230px;
    overflow: visible;
}


/*footer修改:總是一直置底*/

#ct {
    min-height: 0px;
}

.sxpfooter {
    overflow: hidden;
    height: auto;
}

.sxpfttop {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

.t_fsz {
    color: #808080;
}


/*個人空間顏色調整*/

#pcd {
    background: #434343;
}

.bm_c {
    background-color: #1a1a1a;
}

#space {
    background: url(http://fanswoo-xxxx.com/hd.club.tw/template/sxp_bbs_105s/image/bg3.jpg) repeat scroll center top;
}

#space .mn .bm .bm_c,
#space .block {
    background: #ededed;
}

#space .m_c {
    background: #fff;
}

.cl.bbda.pbm.mbm a {
    color: #0085bb;
}

.bm .bm_h {
    border-top: none;
    border-bottom: 1px solid #808080;
}

.tl th a,
.tl td.fn a {
    color: #0085bb;
}

.area body,
input,
button,
select,
textarea {
    color: #808080;
}

.bm_c a {
    color: #0080d3;
    text-decoration: none;
}

.pg_space .bmn {
    background: #ededed;
}

.pg_space .ptm.pm_c {
    color: #333;
}

.pg_space .pml dl:hover {
    background: #ededed;
}


/*搜尋頁面調整*/

#nv_search {
    background: url(http://fanswoo-xxxx.com/hd.club.tw/template/sxp_bbs_105s/image/bg3.jpg) repeat scroll center top !important;
}

#scform_tb a {
    color: #fff;
}

#nv_search .cl .a {
    color: #0085bb;
}

#nv_search .sttl {
    background: #1a1a1a;
    border-bottom: 1px solid #808080;
}

#nv_search .xs3 a {
    color: #0085bb;
}

#nv_search .pbw p {
    color: #ccc;
}

#nv_search .sttl.mbn {
    color: #ccc;
}

#nv_search .xg2 {
    color: #999;
}


/*首頁告示板內頁*/

.pg_viewthread .plc {
    overflow: hidden;
}

.pg_viewthread .pls {
    background: url(http://fanswoo-xxxx.com/hd.club.tw/template/sxp_bbs_105s/image/view_left_bg.jpg) repeat-y;
}

.pg_viewthread .locked {
    border: 1px dashed #F80;
    background: url(http://fanswoo-xxxx.com/hd.club.tw/template/sxp_bbs_105s/img/locked.gif) no-repeat 6px 50%;
}

.tedt .bar {
    background: #ededed;
    border-bottom: 1px solid #999;
}

.pg_viewthread .tedt {
    border-color: #999;
}

.pg_viewthread .sxp_hottj {
    background: rgba(67, 67, 67, 0.7);
    border: 1px solid #808080;
}

.pg_viewthread .sxp_hottj h3 {
    border-bottom: 1px solid #808080;
    padding: 0 16px;
    background: #808080;
}

.pg_viewthread .sxp_hottj h3 span {
    color: #fff;
}

.pg_viewthread .sxp_hottj dt a {
    color: #fff;
}

.pg_viewthread .sxp_hottj dt a:hover {
    color: #2da9ff;
}

.pg_viewthread .xld .m {
    float: none;
    margin: 10px 0 0 0;
}

.pg_viewthread .pbm {
    font-size: 13px;
}

.pg_viewthread .cp_pls a {
    color: #ccc;
}

.pg_viewthread .ad .pls {
    background: #1a1a1a;
}

.pg_viewthread .pls {
    border-right: none;
}

.pg_viewthread .sxpview {
    border: none;
}

.pg_viewthread .ad .plc {
    background: #1a1a1a;
}

.pg_viewthread .plhin .hin {
    opacity: 1;
}

.pg_viewthread .xg1 a,
.pg_viewthread .pls p {
    color: #808080 !important;
}

.pg_viewthread .xg1 a {
    font-size: 12px;
}

.pg_viewthread .pls p {
    color: #ededed !important;
}

.pg_viewthread .z span {
    color: #333;
}

.pg_viewthread .hm span {
    color: #ccc;
}

.pg_viewthread .sxptr .sxptr_r span {
    color: #ccc !important;
}

.pg_viewthread .po.hin .p_pop {
    background: #ededed;
}

.pg_viewthread .po.hin .p_pop li a {
    color: #808080;
}

.pg_viewthread .po.hin .p_pop li a:hover {
    color: #2d9eff;
}

.pg_viewthread .pls .pi {
    padding-left: 0;
    padding: 10px;
}

.pg_viewthread #moreconf .z span {
    color: #fff;
}

.pg_viewthread #wp {
    margin-bottom: 200px;
}

.pg_viewthread .psth {
    margin: 0;
}


/*設置葉面*/

.ct2_a.wp.cl {
    background: #e5e5e5 url("http://fanswoo-xxxx.com/hd.club.tw/template/sxp_bbs_105s/image/vlineb.png") repeat-y 0 0;
}

.pg_spacecp .dt {
    border-top: none;
}

.pg_spacecp .dt td {
    border-bottom: none;
}

.pg_spacecp .dt th {
    background: #0085d8;
    color: #fff;
}

.pg_spacecp .tb a {
    border: 1px solid #808080;
    background: #bcbcbc;
    color: #333;
}

.tbn li.a {
    border-top: none;
    background: #989898;
    color: #333;
}

.tbn li a {
    color: #333;
}

.pg_spacecp .tb .a a {
    background: #0085d8;
    color: #333;
}

.pg_spacecp .tb {
    border-bottom: 1px solid #808080;
}


/*.exfm{background: #ededed;}
*/

.pg_spacecp .bm {
    border-color: #ededed;
}

#nv_home .bm_c {
    background-color: #e5e5e5;
}

#nv_home .tb a {
    background: #bcbcbc;
    color: #333;
}

.pg_spacecp .bmn {
    background: #ededed;
}

.pg_spacecp a.pn {
    color: #fff !important;
}

.pg_spacecp #wp {
    margin-bottom: 200px;
}

.pg_spacecp .tdat.ftb.mtm.mbm a {
    color: #666;
}

.pg_spacecp #ct {
    min-height: 500px;
}


/*討論list*/

.pg_forumdisplay .bm_h .i {
    color: #ccc;
}

.pg_forumdisplay .sxp_tiezi {
    background: #434343;
    border: none;
}

.pg_forumdisplay .sxp_hottj {
    border: 1px solid #808080;
    background: rgba(67, 67, 67, 0.7);
}

.pg_forumdisplay .sxp_hottj dt a {
    color: #fff;
}

.pg_forumdisplay .xld .m {
    float: none;
}

.pg_forumdisplay .ftid a {
    background: #ccc url(http://fanswoo-xxxx.com/hd.club.tw/template/sxp_bbs_105s/img/newarow.gif) no-repeat 100% 0
}

.pg_forumdisplay .sxp_hottj dt a:hover {
    color: #2da9ff;
}

.pg_forumdisplay .pbt.cl span {
    color: #999;
}

.pg_forumdisplay .bm_c.cl.pbn {
    color: #ccc;
}

.bm_c {
    background-color: rgba(67, 67, 67, 0);
}

.pg_forumdisplay .bm {
    background: #333;
}

.pg_forumdisplay .tps a {
    color: #989898;
}

.pg_forumdisplay .pcb {
    color: #2da9ff;
}

.pg_forumdisplay span.pipe.z {
    color: #333;
}

.pg_forumdisplay #spanButtonPlaceholder {
    color: #333;
}

.pg_forumdisplay .p_pop a {
    border-bottom: 1px solid #808080;
}

.pg_forumdisplay .mi_postlist.cl span {
    color: #808080;
}

.pg_forumdisplay .tl td .mi_postlist p em a {
    color: #989898;
    font-size: 14px;
}

.pg_forumdisplay .mi_postlist:hover {
    background: #ccc;
}

.pg_forumdisplay .bm_h .o {
    padding-right: 15px;
}

.pg_forumdisplay .fl {
    border: 1px solid #808080 !important
}


/*會員中心上方選單*/

#space .p_pop a {
    color: #ccc;
}

#space .p_pop a:hover {
    color: #2d9eff;
}


/*會員中心/帖子*/

.pg_guide .tl .th {
    background: #ccc;
}

.pg_guide .bm_c {
    background: #ededed;
}

.pg_guide #wp {
    margin-bottom: 200px;
}


/*會員中心/空間*/

.fb_reset .block {
    background: #ededed;
}

#space .sd {
    background: none;
}

#space #ct {
    margin-bottom: 200px;
}


/*錯誤訊息葉面*/

.pg_space .nfl .f_c {
    background: #ededed
}


/*右下角站長推薦*/

.focus {
    background: #333;
}

.focus .bm_c {
    background: #ccc;
}

.focus .bm {
    background: #ccc;
}

.focus .bm .bm_h.cl {
    background: #0085d8;
    padding: 0 15px;
}

.focus .bm .bm_h.cl a {
    color: #ededed;
}

.focus .bm .bm_h.cl h2 {
    color: #fff;
}


/*下拉選單*/

.p_pop {
    background: #434343
}

.p_pop .jump_bdl li {
    background: #565656;
}

.p_pop .jump_bdl p {
    color: #fff !important;
}

.p_pop .jump_bdl a {
    color: #ccc;
}

.p_pop .jump_bdl.cl>li .sub.a>a {
    color: #777;
}

.p_pop .jump_bdl.cl .a>a {
    color: #777;
}

.p_pop .jump_bdl a:hover {
    color: #2da9ff;
}

#qmenu_menu {
    border: none;
}

.btda .mbm {
    color: #fff;
}

.ptm.pbw.hm {
    color: #fff;
}


/*會員註冊*/

.pg_register .bm_c {
    background: #ededed;
    padding: 0 0 30px 0;
}

.pg_register .bm {
    background: #ededed;
}

.pg_register .bm_h {
    background: #ccc;
}


/*搜尋葉面主業*/

#nv_search #scform_tb a {
    color: #2da9ff;
}


/*搜尋葉面*/

#nv_search .tfm th {
    color: #fff;
}

#nv_search .lb {
    color: #ccc;
}


/*頁碼*/

.pg a.nxt {
    background-repeat: no-repeat;
}

.pg a.prev {
    background-repeat: no-repeat;
}

.bm_c .pgs.cl .pg a {
    background-color: #ededed;
}

.pg_list.pg_list_1 .pgs.cl .pg a {
    background-color: #434343;
}


/*綜合討論*/

.xl2 li {
    padding: 0 31px;
    width: 90%;
    height: auto;
}


/*會員左側訊息欄位*/

.pg_viewthread .pls .xl2 li {
    padding: 0;
}


/*論壇導航*/

.pg_index .pn.xg1.y span {
    color: #fff !important;
}


/*提示訊息*/

.card {
    padding: 5px;
    width: 295px !important;
    border-color: #666;
    background: #ccc;
    text-align: center;
}


/*精研活動告示板*/

.pg_list.pg_list_5 .bm {
    background: #333;
}


/*發布文章*/

.pg_portalcp .mbm.bbs.mt {
    color: #0080d3;
}

.pg_portalcp .dopt.cl {
    color: #fff;
}

.pg_portalcp .bm .bm_h.cl,
.pg_portalcp .bm .bm_h {
    border-bottom: none;
}

.pg_portalcp .z span {
    color: #333;
}

.pg_portalcp .dopt a {
    background: #ededed;
}

.pg_portalcp #wp {
    margin-bottom: 200px;
}


/*會員資訊卡*/

.p_pop.blk.bui.card_gender_1,
.card_gender_1 {
    background: url(http://fanswoo-xxxx.com/hd.club.tw/template/sxp_bbs_105s/img/gentlemanbg.png) no-repeat;
    background-size: cover;
}

.pls.favatar .card_gender_0 {
    background: url(http://fanswoo-xxxx.com/hd.club.tw/template/sxp_bbs_105s/img/nosexbg.png) no-repeat;
    background-size: cover;
}

.pls .card_gender_2 {
    background: url(http://fanswoo-xxxx.com/hd.club.tw/template/sxp_bbs_105s/img/ladybg.png) no-repeat;
    background-size: cover;
}


/*會員資訊*/

#showSelectBox_menu a {
    color: #ccc;
}

.pg_space .buddy li {
    width: 185px;
}


/*header會員下拉選單*/

.sxp_y_l a:hover,
.sxp_y_l a:hover {
    color: #2d9eff;
}

#toptb a:hover {
    color: #2d9eff;
}

.p_pop li a {
    color: #dadada;
}

.p_pop li a:hover {
    color: #2d9eff;
    text-decoration: none;
}


/*麵包屑顏色*/

.z span {
    color: #ccc;
}

#pt .z {
    color: #ccc;
}


/*首頁banner*/

.pg_viewthread .pg span {
    color: #ccc;
}


/*首頁社群icon隱藏*/

.sxpftshare {
    display: none;
    margin-top: 30px;
}


/*論壇管理*/

.ct2_a .mn {
    width: 1046px;
    padding-top: 30px;
}


/*把奇怪符號蓋掉*/


/*.xl.xl2.cl li a{margin-left:-62px; background:#e5e5e5;}
*/


/*.t_table td div{width:475px;}*/


/*新聞快訊list+圖(已修改框架)*/

.pg_list.pg_list_1 .mn .bm .bm_c,
.bm_h {
    padding-left: 0;
    padding-right: 0;
    padding: 0
}

.pg_list.pg_list_1 .xld .atc {
    float: left;
    width: 948px;
    height: 506px;
    margin-left: 0px;
    overflow: hidden;
    margin: 0 0 30px 0;
}

.pg_list.pg_list_1 .xld .atc img {
    height: 100%;
    width: 100%;
    max-width: none;
    max-height: none;
    padding: 0;
    border: none;
}

.pg_list.pg_list_1 .bm_c.xld .bbda {
    border-bottom: 1px solid #666;
    padding-bottom: 25px;
}

.pg_list.pg_list_1 .bm_c.xld .bbda dt {
    padding: 25px 30px 20px;
}

.pg_list.pg_list_1 .bm_c.xld .bbda dd {
    padding: 0 30px;
}


/*預覽*/

.fastpreview {
    background: #ededed;
}

#threadlisttableid .mi_postlist {
    background: #434343;
}

#threadlisttableid .mi_postlist:hover {
    background: #ccc;
}


/*#ct .tl td{background:#ededed;}
*/

#ct .ts td {
    width: 100%;
    background: #333;
    padding: 5px 0;
}

.tl table {
    table-layout: inherit !important;
}


/*手機板導引葉面*/

.pg_mobile .z .bm.bw0 {
    color: #ccc;
}


/*文章進階編輯*/

.pg_post .edt .bar {
    background: #ededed;
}

.pg_post .edt {
    border: none;
    border-color: none;
}

.pg_post .postboxx {
    background: #ccc;
    border: none;
}

.pg_post .edt .bbar,
.edt .bbar a {
    color: #333;
}

.pg_post .tbb {
    margin-bottom: 0;
}

.pg_post .ct2_a .tb {
    margin-top: 0;
}


/*文章收藏*/

.bbda.ptm.pbm>.y {
    display: none;
}


/*.pg_post .tb a{border:none; }*/

.pg_post .tb .a a {
    border-bottom-color: none;
    background: #0080d3;
    color: #fff;
}

.pg_post .z span {
    color: #333;
}

.pg_post #post_extra_tb label span {
    color: #b2b2b2;
}

.pg_post #post_extra_tb label {
    border: 1px solid #808080;
    padding: 3px;
    background: #808080;
}

.pg_post #post_extra_c .exfm {
    border: 1px solid #808080;
}

.pg_post #ct {
    margin-bottom: 200px;
}

.pg_post .bm {
    margin-bottom: 0;
}

.pg_post .tbb {
    background: #ccc;
}

.pg_post .ct2_a.wp.cl {
    background: none;
}


/*帖子連結排序*/

.pi .pti .authi .show {
    display: initial;
}

.pi .pti .authi .pipe.show {
    display: initial;
}

.pi .pti .none {
    display: none;
}


/*滾動時螢幕抖動問題*/

#wp {
    min-height: 1100px;
}

.pg_mobile #wp {
    min-height: 820px;
}

.pg_spacecp #wp {
    min-height: 820px;
}


/*登入框置前*/

#fwin_login {
    z-index: 302 !important;
}


/*留言板表情符號背景*/

.p_pof,
.sllt {
    background: #ededed;
}


/*廣告區塊改16:9*/

.pg_forumdisplay .bm.bmw .bm_c.cl .cl {
    height: 119px;
    overflow: hidden;
}

.pg_forumdisplay .bm.bmw .bm_c.cl .cl .slideouter {
    height: 119px !important;
}

.pg_forumdisplay .bm.bmw .bm_c.cl .cl table {
    margin-bottom: -10px;
}

.pg_forumdisplay #switch_0 {
    margin-top: -29px;
}


/*滾動時螢幕抖動問題*/

@media screen and (min-width:1600px) {
    #wp {
        min-height: 1100px;
    }
}

@media screen and (max-width:1599px) and (min-width:1366px) {
    #wp {
        min-height: 900px;
    }
}

@media screen and (max-width:1365px) and (min-width:1024px) {
    #wp {
        min-height: 900px;
    }
}

@media screen and (max-width:1023px) and (min-width: 960px) {
    #wp {
        min-height: 800px;
    }
    .pg_mobile #wp {
        min-height: 700px;
    }
}

@media screen and (max-width:959px) and (min-width: 700px) {
    #wp {
        min-height: 800px;
    }
    .pg_mobile #wp {
        min-height: 500px;
    }
}

@media screen and (max-width:450px) {}